  {% load static %}
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="Style">
    <link rel="stylesheet" href="{% static 'css/Style.css' %}">
    <link rel="icon" href="{% static 'img/image-modified.png' %}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <title>LuPa</title>
    <!--api-->
  </head>
  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/667da1cfeaf3bd8d4d151214/1i1dc056f';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
  <body>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <header>
      <h2 id="titulo">LuPa</h2>
    </header>



  <!-- PONER CUALES SON LOS OBJETIVOS Y COMO PENSAMOS AYUDAR A RESOLVER EL PROBLEMA -->
  <!--https://videogameschile.com/home/ -->
  
    <nav class="opciones">
      <a href="{% url 'login' %}">Login</a>
      <a href="{% url 'register' %}">Registrar</a>
      <a href="{% url 'prueba' %}">Inicio</a>
      <a href="#juegos">Juegos</a>
      <a href="{% url 'nosotros' %}">Sobre Nosotros</a>
    </nav>
    
    <div id="container">
      <div class="toggle"></div>
      <script src="{% static 'js/JavaScript.js' %}"></script>
    </div>




    <div class="Slider-box">
      <ul>
        <li>
          <img src="{% static 'img/WLITM-newArt-2022logo.png' %}" alt="">
          <div class="texto"></div>
        </li>


        <li>
          <img src="{% static 'img/TS.avif' %}" alt="">
          <div class="texto"></div>
        </li>


        <li>
          <img src="{% static 'img/narita.avif' %}" alt="">
          <div class="texto"></div>
        </li>


        <li>
          <img src="{% static 'img/pixelNoir.jpg' %}" alt="">
          <div class="texto"></div>
        </li>
      </ul>
    </div>

    <h1 id="juegos">Chile Games Showcase - 2024</h1>



    <div class="video-container">

      <iframe width="1500" height="800" 
          src="https://www.youtube.com/embed/G-PkyUkU4Ho" title="Chile Games Showcase - 2024" frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
      </iframe>
  </div>

  <h2 id="juegos">Juegos Chilenos</h2>
  <li>
    <a class="dropdown-item btn btn-primary btn-crear-carta" 
      href="{% url 'crear_carta' %}" 
      style="margin: 10px; background-color: #007bff; border-color: #007bff; color: white; padding: 10px 20px; border-radius: 5px; font-size: 16px; text-align: center; text-decoration: none; transition: background-color 0.3s ease;">
      Crear Carta
    </a>
  </li>


  <div class="container cards">
    <div class="row">
      {% for c in cards %}
      <div class="col-md-4">
        <div class="game-card">
          <div class="card">
            <img src="{{ c.imagen.url }}" class="card-img-top" alt="Imagen del juego">
            <div class="card-body">
              <h5 class="card-title">{{ c.titulo }}</h5>
              <p class="card-text texto2">{{ c.descripcion }}</p>
              <p class="card-text price">{{ c.precio }}</p>
              <a href="{{ c.url }}" class="btn btn-primary" style="color: #007bff;">Ver página de Steam</a>
            </div>
            <div class="card-footer">
              <a href="{% url 'modificar_carta' c.id %}" class="btn btn-info btn-sm" style="color: green;">Modificar</a>
              <form action="{% url 'eliminar_carta' c.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
    <footer>
      <div class="footer-container">
        <p class="footer">Informacion de contacto</p>
        <div class="socials-and-image">
          <ul class="socials">
            <li><a href="https://github.com/scruffycookie/Prueba-1-"><i class="fa fa-github"></i></a></li>
            <li><a href="https://cl.linkedin.com/company/video-games-chile"><i class="fa fa-linkedin-square"></i></a></li>
            <li><a href="https://www.instagram.com/pxshoo/"><i class="fa fa-instagram"></i></a></li>
          </ul>
          <div class="image-container">
            <img src="{% static 'img/image-modified.png' %}" alt="about image" class="about__img">
          </div>
        </div>
        <div class="footer-copyright">
          <p class="footer__l">Copyright &copy; 2024 <br> Bringing your dreams to reality.</p>
        </div>
      </div>
    </footer>

    
  </body>
  </html>